<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <bean id="mysessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="mappingLocations">
            <list>
                <value>classpath:Device.hbm.xml</value>
                <value>classpath:Deviceclass.hbm.xml</value>
                <value>classpath:Information.hbm.xml</value>
                <value>classpath:Shopingcart.hbm.xml</value>
                <value>classpath:Shopingorder.hbm.xml</value>
                <value>classpath:Shopingorderitem.hbm.xml</value>
                <value>classpath:User.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/devicemanagefzl?characterEncoding=UTF-8</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
           <!--     <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.show_sql">true</prop>-->
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">root</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
            </props>
        </property>
    </bean>

    <!--Device-->
    <bean id = "myDeviceDao" class = "org.dao.imp.DeviceDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"/>
    </bean>
    <bean id="myDeviceAction" class="app.action.imp.DeviceActionImp">
        <property name="deviceDao" ref="myDeviceDao"/>
        <property name="deviceClassDao" ref="myDeviceClassDao"/>
    </bean>

    <!--DeviceClass-->
    <bean id = "myDeviceClassDao" class = "org.dao.imp.DeviceClassDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"/>
    </bean>
    <bean id = "myDeviceClassAction" class="app.action.imp.DeviceClassActionImp">
        <property name="DeviceClassDao" ref="myDeviceClassDao"/>
    </bean>

    <!--InformationAPP端口-->
    <bean id="myInformationDao" class="org.dao.imp.InformationDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"/>
    </bean>
    <bean id="myInformationActionApp" class="app.action.imp.InformationActionImp">
        <property name="informationDao" ref="myInformationDao"/>
    </bean>
    <!--InformationWEB端口-->
    <bean id="myInformationActionWeb" class="web.action.imp.InformationActionImp">
        <property name="informationDao" ref="myInformationDao"/>
    </bean>

    <!--User-->
    <bean id="myUserDao" class="org.dao.imp.UserDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"></property>
    </bean>
    <bean id="myUserAction" class="app.action.imp.UserActionImp">
        <property name="userDao" ref="myUserDao"/>
    </bean>

    <!--Shopingorderitem-->
    <bean id="myShopingorderitemDao" class="org.dao.imp.ShopingorderitemDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"/>
    </bean>
    <bean id="myShopingorderitemAction" class="app.action.imp.ShopingorderitemActionImp">
        <property name="shopingorderitemDao" ref="myShopingorderitemDao"/>
        <property name="deviceDao" ref="myDeviceDao"/>
        <property name="shopingorderDao" ref="myShopingorderDao"/>
    </bean>

    <!--Shopingorder-->
    <bean id="myShopingorderDao" class="org.dao.imp.ShopingorderDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"/>
    </bean>
    <bean id="myShopingorderAction" class="app.action.imp.ShopingorderActionImp">
        <property name="shopingorderDao" ref="myShopingorderDao"/>
        <property name="userDao" ref="myUserDao"/>
    </bean>

    <!--Shopingcart-->
    <bean id="myShopingcartDao" class="org.dao.imp.ShopingcartDaoImp">
        <property name="sessionFactory" ref="mysessionFactory"/>
        <property name="shopingorderDao" ref="myShopingorderDao"/>
        <property name="shopingorderitemDao" ref="myShopingorderitemDao"/>
     </bean>
    <bean id="myShopingcartAction" class="app.action.imp.ShopingcartActionImp">
        <property name="shopingcartDao" ref="myShopingcartDao"/>
        <property name="deviceDao" ref="myDeviceDao"/>
        <property name="userDao" ref="myUserDao"/>
    </bean>

</beans>